<h3>"take it easy pardner, I have plans for you"<br><em>-Charles Bukowski</em></h3>

<h2>Show songs looking for:
  <%= link_to "All",     root_path %>
  <%= link_to "Drums",   drums_path %>
  <%= link_to "Bass",    bass_path %>
  <%= link_to "Keys",    keys_path %>
  <%= link_to "Guitars", guitars_path %>
  Vocals
</h2>

<div>
  <%= render 'shared/feed' %>
</div>