<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "demoslinger", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right" style="padding-top:5px">
          <li><%= link_to "Home",  root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Post",  '#' %></li>
          <li><%= link_to image_tag("btn-connect-s.png", 
				alt: "Sign in with SoundCloud"), 'http://soundcloud.com' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>