<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "demoslinger", root_url, id: "logo" %>
      <nav>
        <ul class="nav pull-right" style="padding-top:5px">
          <li><%= link_to "Home",  root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <% if signed_in? %>
		    <li><%= link_to "Post", new_micropost_path %></li>
		    <li><%= link_to "Sign out", "/sessions/destroy", method: 'delete' %></li>
		  <% else %>
			<li><%= link_to image_tag("btn-connect-s.png", 
			      alt: "Sign in with SoundCloud"), "/sessions/redirect" %></li>
		  <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>